body {
	background-color: red;
	.background-color:#fcfcfc;
	.font-family: Verdana;
	.width: 900px;
	}

.photo (
	.border: 5px solid blue;
	.border-radius: 50px;
)

#title, .subtitle, .post_title(
.color: blue;
)

#title (
	.font-size: 60px;
	.text-transform: uppercase;
)

post_title (
.font-size: 16px;
.font-style: italic;
.margin: 0;
.margin-bottom: 15px;
)

.post (
	.background: white;
	.padding: 15px;
	.border: 3px solid	black;
	.margin-bottom: 15px;
	.border-radius: 5px;
)

.post_content (
	.margin: 0;
	.margin-bottom: 15px;
	.text-transform: capitalize;
)

.post_image (
	.margin-bottom: 15px;
	.width: 100%;
)

.contacts_list	(
	.list-style-type: none;
	.padding-left: 0;
)

.contacts_list li a (
	.text-decoration: none;
)